package components

import "goth/views/layouts"

templ Index() {
  @layouts.Base("Component page", false) {
    <div>
      <h1>hi, this is Index component</h1>
      @IndexFooter()
    </div>
  }
}

templ IndexFooter() {
  <div>
    <h1>This is index footer</h1>
  </div>
}
